.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav-title {
  margin-left: 20px;
}

.btn {
  height: 35px;
  width: 100px;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  font-size: 16px;
  box-shadow: 5px 5px #000000;
}